*{margin: 0;  /*为统配选择器，将所有的元素设置为外边距margin和内边距padding为0,*/
    padding: 0;
    border: none;
    font-size:12px;}
#r1{
    width: 700px;  /*最外框*/
    margin: 0 auto;/*外边距上下为0，左右自适应，水平居中*/
    border:1px solid black;


}
#zt{ width:150px;/*简历*/
    height:80px;
    font-family:宋体;
    font-size:60px;
    font-weight:900;
    float:left;
    margin-top:25px;
    margin-left:80px;
}
#zt1{ width:200px;
    height:70px;
    font-family:宋体;/*天生我才*/
    font-size:22px;
    font-weight:900;
    float:left;
    padding-top:15px;
    margin-top:30px;
    margin-left:0px;
}
#zx1{ width:90px;/*例如基本资料*/
    height:23px;
    font-family:微软雅黑;
    font-size:18px;
    clear:left;/*清楚左幅动*/
    margin-left:45px;
    color:#FFF;
    background-color:#0F0;/*背景色*/
}
#zx2{ width:320px;/*基本资料的英文*/
    height:23px;
    font-family:微软雅黑;
    font-size:14px;
    clear:left;
    margin-left:45px;
    color:#FFF;
    background-color:#6F9;/*背景色*/
    word-spacing:5px;
    position:relative;/*相对定位*/
    left:90px;/*相对定位*/
    bottom:23px;/*相对定位*/

}
#zx3{ width:490px;/*工作经历和以下的都用它后的英文宽度不一样*/
    height:23px;
    font-family:微软雅黑;
    font-size:14px;
    clear:left;/*清楚左幅动*/
    margin-left:45px;
    color:#FFF;
    background-color:#6F9;/*背景色*/
    word-spacing:5px;/*词语之间的间距*/
    position:relative;/*相对定位*/
    left:90px;/*相对定位*/
    bottom:23px;/*相对定位*/
}
#pp1{ width:630px;/*例如基本资料内容*/
    margin-left:70px;
    font-size:14px;
    line-height:25px;
}
#pp2{ width:630px;/*例如基本资料内容*/
    margin-left:70px;
    font-size:14px;
    word-spacing:5px;/*词语之间的间距*/
    line-height:25px;
}
#pp3{ width:555px;/*用于字数多的如自我评价（主要改变宽度）*/
    margin-left:70px;
    font-size:14px;
    word-spacing:5px;/*词语之间的间距*/
    line-height:25px;

}
#touxiang{ width:110px;/*头像*/
    height:150px;
    float:right;
    color:#FFF;
    font-size:18px;
    line-height: 130px;
    margin-right:80px;
    margin-top:110px;
    background-color:#6F9;
}